{% extends "layouts/base.html" %}

{% block title %}Flask Todo{% endblock %}

{% block content %}
<h1>To Do!</h1>
<form method="POST">
    <label for="task">Task
        
        <input type="text" value="{{ task }}" name="task" id="task">

    </label>

    <label for="description">
        <input type="text" name="description" value="{{ description }}" id="description">Description
    </label>

    <label>
        <input type="submit" name="submit" id="submit">
    </label>
    
</form>

<ul>
    {% for task_dicts in task_dict %}
    <li>{{ task_dicts.task }} </li>
    <ul>
        <li>{{ task_dicts.description }} Created on {{ task_dicts.task_date }}</li>
    </ul>
    

    {% endfor %}
</ul>

{% endblock %}

