<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
    <link rel="stylesheet" href="static/styles.css" type="text/css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <header>
        <h1>{{ self.title() }}</h1>
        

        <nav>
            <a href="/todo">todo</a>
            <a href="/">home</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    {% include 'layouts/footer.html' %}    
</body>
</html>